{% extends "layouts/main.html" %}
{% block body %}
<div class="container row m-3 mb-5">
    <div class="col">
        <h1>About us</h1>

  <p>
    We collaborate with like-minded organizations in the fight against air
    pollution. As a technology partner of the United Nations Environmental
    Program, UN Habitat, and Greenpeace, we strive to empower change and
    contribute to a sustainable path to better air.
  </p>
  <p>
    As an air quality company, we are passionate about not only creating
    awareness but also providing practical information that help create living
    and working environments that are safe, healthy, and enjoyable.
  </p>
    </div><div class="col" style="align-self: center;">
        <img src="/static/images/img1.jpg" style="width: 100%;" alt="">
    </div>
  
</div>
{% endblock %}