{% extends "layouts/main.html" %}
{% block body %}
<div class="container mt-5">
    <h1>Health</h1>
    <p>With the support of environmental agencies and private enterprise, we help schools to protect children from air toxins. Our work in the medical field helps protect patients and medical staff from infectious disease. Families around the world breathe healthier air with our home air purification solutions. </p>
    
    <p>We believe that information, collaboration, and technology solutions help create the perfect storm for better air, a better planet, and better lives.</p>
</div>
{% endblock %}