
<footer class="footer py-3 bg-light fixed-bottom" style="margin-top: 500px;">
    <div class="container">
      <span class="text-muted">The World Health page.</span>
      <ul class="row">     
        <li style="list-style:none"><a class="badge bg-primary" href="https://www.iqair.com/">IQAir</a></li>  
        <li style="list-style:none"><a class="badge bg-success" href="https://www.unep.org/">UNEP</a></li>
        <li style="list-style:none"><a class="badge bg-info" href="/about">About Us</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="/">A GreenWorld</a>.
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://es-la.facebook.com/"><i class="fa fa-facebook" >F</i></a></li>
            <li><a class="twitter" href="https://twitter.com/?lang=es" ><i class="fa fa-twitter" >I</i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/login/es"><i class="fa fa-linkedin">L</i></a></li>   
          </ul>
        </div>
      </div>
    </div>
  </footer>